@use "variables" as *;

main.dark-theme{
    height: auto;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: $Dark_Gradient;
    color: $Neutral_0;
    padding: 20px;

    #head{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: color-transparent($Neutral_0, 30%);
        border-radius: 10px;
        padding: 10px;

        img{
            width: 35px;
            height: 35px;
        }

        p{
            font-family: $font;
            font-size: 25px;
            font-weight: 700;
            color: $Neutral_0;
        }

        #switch-theme{
            width: 40px;
            height: 40px;
            background-color:color-transparent($Neutral_0, 30%);
            padding: 5px;
            border-radius: 10px;
            @include flex();
            cursor: pointer;

            #dark{
                display: none;
            }

            #light{
                width: 25px;
                height: 25px;
                display: block;
            }
        }
    }

    h1{
        font-family: $font;
        font-size: 30px;
        font-weight: 700;
        color: $Neutral_0;
        margin-top: 20px;
    }

    nav{
        width: 100%;
        height: auto;
        margin-top: 20px;
        @include flex(row,space-around,center);

        ul{
            width: 95%;
            height: auto;
            list-style-type: none;
            @include flex(row,space-around,center);

            li{
                width: auto;
                height: auto;
                padding: 10px 20px;
                border-radius: 20px;
                border: 1px solid $Neutral_600;
                background-color: $Neutral_700;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;

                &.active{
                    background-color: $Red_400;
                    color: $Neutral_900;
                    border: none;
                }
            }
        }
    }

    section#extension-list{
        width: 95%;
        height: auto;
        margin-top: 20px;
        @include flex(column,space-around,center);
        overflow: hidden;

        .extension-card{
            width: 100%;
            height: auto;
            border-radius: 20px;
            border: 1px solid $Neutral_600;
            background-color: $Neutral_700;
            padding: 20px;
            @include flex(column,space-between,center);
            margin-bottom: 15px;

            .info{
                width: 100%;
                height: auto;
                @include flex(row,space-around,center);
                img{
                    width: 50px;
                    height: 50px;
                }
                
                .description{
                    width: auto;
                    height: auto;
                
                    h3{}
    
                    p{}
                }
            }

            .actions{

                button{
                    flex: 1 1 45%;
                    cursor: pointer;
                }
    
                #switch{
                    flex: 1 1 45%;
                    cursor: pointer;
                }
            }
            
        }
    }
}